{% extends "customer_layout.html" %}

{% block content %}
<div class="container">
    <div>
        <div>
            <a class="btn btn-primary" href="/customer/list/add/">
                <i class="bi bi-clipboard-plus-fill me-2"></i>New Customer
            </a>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-bordered table-hover text-center mt-3">
        <thead>
            <tr style="white-space: nowrap;"><!-- 添加 nowrap 样式 -->
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Date of Birth</th>
                <th>Gender</th>
                <th>Phone</th>
                <th class="address-column">Address</th>
                <th>Account</th>
                <th>Is Verified</th>
                <th>Create Time</th>
                <th>Reset Password</th>
                <th>Control</th>
            </tr>
        </thead>
        <tbody>
            {% for item in page_obj %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.email }}</td>
                <td>{{ item.date_of_birth }}</td>
                <td>{{ item.get_gender_display }}</td>
                <td>{{ item.phone }}</td>
                <td class="address-column">{{ item.address }}</td>
                <td>{{ item.account }}</td>
                <td>{{ item.is_verified|yesno:"Yes,No" }}</td>
                <td>{{ item.create_time }}</td>
                <td>
                    <a class="btn btn-primary btn-sm" href="/customer/resetpassword/{{ item.id }}/">Reset Password</a>
                </td>
                <td>
                    <!-- 使用 Bootstrap 的按钮组让 Edit 和 Delete 同行显示 -->
                    <div class="btn-group" role="group" style="gap: 10px; width：100%">
                        <a class="btn btn-primary btn-sm" href="/customer/customer/list/{{ item.id }}/edit/">Edit</a>
                        <a class="btn btn-outline-danger btn-sm" href="/customer/customer/list/{{ item.id }}/delete/">Delete</a>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
    <nav class="d-flex justify-content-center align-items-center mt-3"> <!-- 添加 Flexbox 类 -->
        <ul class="pagination mb-0">
            {{ page_string }}
        </ul>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                Items per page
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li>
                    <a class="dropdown-item" href="#" onclick="changePageSize(2)">2</a>
                </li>
                <li>
                    <a class="dropdown-item" href="#" onclick="changePageSize(5)">5</a>
                </li>
                <li>
                    <a class="dropdown-item" href="#" onclick="changePageSize(10)">10</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
{% endblock %}