{% extends "customer_layout.html" %}

{% block content %}
<div class="container mt-4">
    <h2>Orders History</h2>

    {% if order_forms %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Vehicle Name</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Start Location</th>
                <th>End Location</th>
                <th>Duration</th>
                <th>Distance</th>
                <th>Order Status</th>
                <th>Cost</th>
                
            </tr>
        </thead>
        <tbody>
            {% for order_data in order_forms %}
            <tr>
                <td>{{ order_data.order.vehicle.name }}</td>  <!-- Vehicle Name -->
                <td>{{ order_data.order.start_time }}</td> <!-- Order Start Time -->
                <td>{{ order_data.order.end_time }}</td>
                <td>{{ order_data.order.start_location_name }}</td>
                <td>{{ order_data.order.end_location_name }}</td>
                <td>{{ order_data.order.duration }}</td>
                <td>{{ order_data.order.distance }}</td>
                <td>{{ order_data.order.status }}</td>
                <td>{{ order_data.order.cost }}</td>
                <td>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <div class="text-center mt-5">
        <h3 style="font-size: 24px; color: #555;">There are no orders at the moment.</h3>
    </div>
    {% endif %}
</div>
{% endblock %}
