{% extends "layout.html" %}
{% load static %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <!-- Sidebar: Product Filters -->
        <div class="col-md-3">
            <h4>Filter and choose your products</h4>
            <form method="GET" action="">
                <h5>Brand</h5>
                {% for brand in brands %}
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="brand" value="{{ brand }}" id="brand{{ forloop.counter }}">
                    <label class="form-check-label" for="brand{{ forloop.counter }}">{{ brand }}</label>
                </div>
                {% endfor %}
                
                <h5>Color</h5>
                {% for color in colors %}
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="color" value="{{ color }}" id="color{{ forloop.counter }}">
                    <label class="form-check-label" for="color{{ forloop.counter }}">{{ color }}</label>
                </div>
                {% endfor %}
                
                <button type="submit" class="btn btn-primary mt-3">Apply Filters</button>
            </form>
        </div>
        
        <!-- Main Product Listing -->
        <div class="col-md-9">
            <h2>Products</h2>
            <div class="row">
                {% for product in products %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <img src="{{ product.picture.url }}" class="card-img-top" alt="{{ product.name }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ product.name }}</h5>
                            <p class="card-text">${{ product.price }}</p>
                            <a href="{% url 'product_detail' product.id %}" class="btn btn-dark">View Details</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
