{% extends "layout.html" %}

{% block content %}
    <div class="container-fluid mt-5 px-5">
        <div class="row mb-5">
            <div class="col-md-12 d-flex justify-content-between align-items-center">
                <h2 class="fw-bold text-primary display-4">Department List</h2>
                <a class="btn btn-primary btn-lg shadow-sm" href="/operation/department/list/add">
                    <i class="bi bi-clipboard-plus-fill me-2"></i>New Department
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive-lg shadow-lg">
                    <table class="table table-striped table-bordered table-hover text-center align-middle w-100">
                        <thead class="table-dark">
                            <tr>
                                <th class="py-4">ID</th>
                                <th class="py-4">Department</th>
                                <th class="py-4">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in data %}
                            <tr class="table-light">
                                <td class="py-3">{{ item.id }}</td>
                                <td class="py-3">{{ item.name }}</td>
                                <td class="py-3">
                                    <a class="btn btn-outline-success btn-lg me-3 shadow-sm fw-bold" href="/operation/department/list/{{ item.id }}/edit/">
                                        <i class="bi bi-pencil-square"></i> Edit
                                    </a>
                                    <a class="btn btn-outline-danger btn-lg shadow-sm fw-bold" href="/operation/department/list/{{ item.id }}/delete/">
                                        <i class="bi bi-trash"></i> Delete
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    
        <!-- Pagination Bar -->
        <nav class="d-flex justify-content-center mt-5">
            <ul class="pagination shadow-sm">
                {{ page_string }}
            </ul>
        </nav>
    </div>
{% endblock %}
